* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--font-text: Lato;
	--font-title: Open Sans;
}
/* ESTILOS DEL ACERCA DE  */
.content__testimonios {
	width: 100%;
	height: 100vh;
	background: green;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	background-image: url(../img/banner_testimonios_alt.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.content__testimonios::before {
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	opacity: 0.7;
	background: rgb(37, 35, 35);
	position: absolute;
}
.testimonios__title {
	padding: 0;
	width: 80%;
	margin: -50px auto 20px;
	text-align: center;
	font-family: var(--font-text);
	font-weight: 900;
	font-size: 45px;
	position: relative;
	color: rgb(255, 255, 255);
}
.testimonios__text {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-family: var(--font-text);
	font-weight: 300;
	font-style: italic;
	font-size: 24px;
	position: relative;
	color: rgb(163, 163, 163);
	margin-bottom: 90px;
}
.container__persons {
	width: 100%;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.content__persons {
	background-color: rgba(255, 255, 255, 1);
	width: 27%;
	height: 80%;
	margin: 0 30px;
	border-radius: 30px;
	position: relative;
}
.content__img {
	text-align: center;
	width: 120px;
	height: 120px;
	margin: -30px auto;
}
.persons__img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.content__info {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 15px;
	position: relative;
}
.info__title {
	text-align: center;
	font-family: var(--font-title);
	margin-bottom: 8px;
	color: black;
	font-weight: 700px;
}
.info__subtitle {
	text-align: center;
	font-family: var(--font-title);
	margin-bottom: 10px;
	color: rgb(27, 27, 27);
	font-weight: 500;
}
.info__text {
	width: 90%;
	margin: 0 auto 20px;
	text-align: center;
	font-family: var(--font-title);
	line-height: 23px;
	font-weight: 400;
	color: rgb(32, 32, 32);
	font-style: italic;
}
.testimonios__social {
	width: 100%;
	display: flex;
	justify-content: center;
}

.button__social {
	text-decoration: none;
	display: inline-block;
	margin: 0;
	transition: 0.5s ease all;
}
.button__icon {
	font-size: 20px;
	transition: 0.5s ease all;
	border-radius: 50%;
	padding: 10px 11px;
	color: white;
	margin-right: 15px;
}
.button__icon--blue {
	background-color: rgba(30, 55, 153, 0.8);
}
.button__icon--blue:hover {
	background-color: rgba(30, 55, 153, 1);
}
.button__icon--purple {
	background-color: rgba(142, 68, 173, 0.8);
}
.button__icon--purple:hover {
	background-color: rgba(142, 68, 173, 1);
}
.button__icon--light {
	background-color: rgba(52, 152, 219, 0.8);
}
.button__icon--light:hover {
	background-color: rgba(52, 152, 219, 1);
}
.button__icon--blue--light {
	background-color: rgba(41, 128, 185, 0.8);
}
.button__icon--blue--light:hover {
	background-color: rgba(41, 128, 185, 1);
}
